html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	display: flex;
}

#map {
	width: 75%;
}

#controller {
	flex-grow: 1;
	background: #9B9299;
	text-align: center;
}

h1, span, p {
	font-family: 'Raleway', sans-serif;
	color: white;
}

#controller h1 {
	margin: 1em auto;
	width: 8em;
}

#content-2 {
	margin: 0;
	padding: 0;
	left: 50%;
}

#controller span {
	font-size: 20px;
}

.food-icon {
	vertical-align: middle;
	width: 35px;
	height: 35px;
	margin: 0;
}

#navbar {
	height: 54px;
	width: 100%;
	background: #6A6268;
}

.navbar-icon {
	width: 20px;
	height: 20px;
	padding: 5px;
	border-radius: 10px;
}

.navbar-container {
	float: left;
	padding: 10px;
}

.navbar-hover {
	background: #B8B8B8;
}

.navbar-active {
	background: #9B9299;
	box-shadow: 0 -3px 0 3px rgba(0, 0, 0, 0.2);
}

.choice {
	display: block;
	background: none;
	width: 12em;
	margin: 10px auto;
	border-radius: 20px;
	padding: 2px 8px 2px 0;

	text-decoration: none;
}

.active-choice {
	background: rgba(255, 208, 123, 0.8);
}

.hidden {
	display: none;
}

p a {
	color: rgba(255, 208, 123, 0.8);
}
